<app-header [title]="title" [subtitle]="subtitle"></app-header>
<div style="color: #444">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="pluginName">Plugin Name</label>
      <input [(ngModel)]="plugin.name" name="pluginName" class="form-control" id="pluginName" placeholder="Enter the plugin name">
    </div>
    <div class="form-group">
      <label for="author">Author</label>
      <select id="author" [(ngModel)]="plugin.author" name="author" class="form-control">
        <option *ngFor="let user of users" [value]="user" [disabled]="authorDisabled">{{user}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea rows="3" [(ngModel)]="plugin.description" name="description" class="form-control" id="description" placeholder="Description of the plugin"></textarea>
    </div>
    <div class="row">
      <div class="form-group col-md-10">
        <label for="tags">Tags</label>
        <input [(ngModel)]="tags" name="tags" class="form-control" id="tags" placeholder="tag1 tage2 ...">
      </div>
      <div class="col-md-2">
        <label for="controls">Controls</label>
        <div id="controls" class="button" (click)="onAddControls()">Add</div>
      </div>
    </div>
    <div class="row" *ngIf="controls.length>0">
        <label class="form-group col-md-1">Delete</label>
        <label class="form-group col-md-5">Control name</label>
        <label class="form-group col-md-2">Default value</label>
        <label class="form-group col-md-2">Min value</label>
        <label class="form-group col-md-2">Max value</label>
    </div>
    <div class="row" *ngFor="let control of controls, let i = index">
      <div class="form-group col-md-1 button"  id="delete-{{i}}" (click)="onDeleteControl(controls[i])">Delete</div>
      <div class="form-group col-md-5">
        <input [(ngModel)]="controls[i].name" name="controlName-{{i}}" class="form-control" id="controlName-{{i}}" placeholder="Enter the control name">
      </div>
      <div class="form-group col-md-2">
        <input [(ngModel)]="controls[i].value" name="default-{{i}}" class="form-control" id="default-{{i}}" placeholder="Enter default value">
      </div>
      <div class="form-group col-md-2">
        <input [(ngModel)]="controls[i].min" name="min-{{i}}" class="form-control" id="min-{{i}}" placeholder="Enter min value">
      </div>
      <div class="form-group col-md-2">
        <input [(ngModel)]="controls[i].max" name="max-{{i}}" class="form-control" id="max-{{i}}" placeholder="Enter max value">
      </div>
    </div>
    <div>
      <label for="file">Image : </label>
      <input id="file" type="file" (change)="onFileChanged($event)">
    </div>
    <button type="submit" class="btn btn-primary" >Submit</button>
 </form>
</div>
