<app-header [title]="title" [subtitle]="subtitle"></app-header>
<div class="container">
  <div class="pedalboard pedalboard-details plugin-details whiteframe has-pedalboard">
    <div class="pedalboard-content">
      <div class="header">
        <div class="author">
          <div class="author-info">
            <span class="author-name">{{author.username}}</span>
            <a href="{{author.url}}" target="_blank">{{author.url}}</a>
          </div>
        </div>
        <div class="pedalboard-count-container">
          <div class="pedalboard-count">
            <span>{{pedalboards.length}}</span>
          </div>
          <span class="pedalboard-count-text">Pedalboard using it</span>
        </div>
        <div class="title">
          <h2>{{plugin.name}}</h2>
        </div>
      </div>
      <div class="plugin-media-container">
        <div style="width: 243px;">
          <img src="assets/images/plugins/{{plugin.image}}" alt="Plugin-screenshot" class="plugin-media">
        </div>
      </div>
      <div class="category-container">
        <span *ngFor="let tag of plugin.tags">
          <app-tag [tag]="tag"></app-tag>
        </span>
      </div>
      <p class="pedalboard-description">{{plugin.description}}</p>
      <div class="plugin-control-ports">
        <table>
          <thead>
            <tr>
              <th>Control</th>
              <th>Default</th>
              <th>Min</th>
              <th>Max</th>
            </tr>
          </thead>
          <tbody>
          <tr *ngFor="let button of plugin.buttons">
            <td>{{button.name}}</td>
            <td>{{button.value}}</td>
            <td>{{button.min}}</td>
            <td>{{button.max}}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="plugin-misc-info-container"></div>
      <div class="clearfix"></div>
      <div class="divider comments-divider"></div>
      <div id="discourse-comments"></div>
    </div>
    <button *ngIf="canDelete()" (click)="onDelete()" type="button" class="btn btn-danger">Delete {{plugin.name}}</button>
    <button *ngIf="canEdit()" (click)="onUpdate()" type="button" class="btn btn-success">Update {{plugin.name}}</button>
  </div>
</div>
