<app-header [title]="title" [subtitle]="subtitle"></app-header>
<div style="color: #444">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="pedalboardName">pedalboard Name</label>
      <input [(ngModel)]="pedalboard.name" name="pedalboardName" class="form-control" id="pedalboardName" placeholder="Enter the pedalboard name">
    </div>
    <div class="form-group">
      <label for="author">Author</label>
      <select id="author" [(ngModel)]="pedalboard.author" name="author" class="form-control">
        <option *ngFor="let user of users" [value]="user" [disabled]="authorDisabled">{{user}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea rows="3" [(ngModel)]="pedalboard.description" name="description" class="form-control" id="description" placeholder="Description of the pedalboard"></textarea>
    </div>
    <div class="pedalboards-plugin-content">
      <label>Select plugins</label>
      <div class="pedalboard-plugin-container">
        <app-list [noHeader]="true" [enableSelect]="true" (pluginSelected)="onPluginSelected($event)"></app-list>
      </div>
    </div>
    <button type="submit" class="btn btn-primary" >Submit</button>
 </form>
</div>
