div.button {
  background-color: #883996;
  color: white;
}

div.button:hover {
  cursor: pointer;
}

ul.plugin-tile {
  list-style-type: none;
  height: 50px;
  width: 50px;
}

li {
  display: inline-block;
}

.pedalboards-plugin-content {
  margin: auto;
  width: 50%;
}
