nav{
    background-color: #000;
    z-index: 20;
    position: relative;
    color: white;
    height: 3em;
    font-size: 2em;
}

li{
    padding-left: 2em;
}

.nav-button {
  display: block;
  padding: .5rem 1rem;
}

a:hover, div.nav-button:hover {
    text-decoration-line: underline;
    text-decoration-color: red;
    cursor: pointer;
}
