<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <img src="../../assets/mod-devices-logo-on-dark.png" width="200">

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li *ngFor="let tab of tabs" class="nav-item active">
        <a class="nav-link" routerLink="{{tab.routerLink}}" routerLinkActive="active">{{tab.name  | uppercase}}</a>
      </li>
      <li *ngIf="isLoggedIn()" class="nav-item active">
        <div class="nav-button" (click)="onLogout()">LOGOUT</div>
      </li>
    </ul>
  </div>
</nav>
