.plugin-info-container {
  display: block;
  padding: 0 10px 5px;
  box-sizing: border-box;
}

.plugin-info-container > span {
  display: block;
  text-decoration: none;
  color: #444444;
}

.plugin-info-container > span.brand {
  color: #883996;
  font-size: .8em;
}

.brand {
  cursor: pointer;
}

div.button {
  color: white;
  margin-bottom: 3px;
  margin-top: 3px;
}

div.button:hover {
  cursor: pointer;
}

.select {background-color: green}
.remove {background-color: #883996}

