<div class="plugin whiteframe">
  <div *ngIf="enableSelect" id="selectButton" [ngClass]="this.SELECT_LABEL === 'Select'? 'select' : 'remove'" class="button" (click)="onSelect()">{{SELECT_LABEL}}</div>
  <a [routerLink]="['/', 'plugins', 'plugin', plugin.id]">
    <img class="plugin-screenshot" src="assets/images/plugins/{{plugin.image}}" alt="PLUGIN IMAGE">
  </a>
  <div class="category-container">
    <span *ngFor="let tag of plugin.tags">
      <app-tag [tag]="tag" (filterByTag)="onFilterByTagEvent($event)"></app-tag>
    </span>
  </div>
  <div class="divider"></div>
  <div class="plugin-info-container">
    <span class="vendor">{{plugin.name}}</span>
    <span class="brand" (click)="onFilterByAuthor(plugin.author)">{{plugin.author}}</span>
  </div>
</div>
