img{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-repeat: no-repeat;
}

div{
    position: relative;
    z-index: 2;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding: 2em;
    cursor: default;
}
h1{
    font-size: 3em;
}
h2{
    font-size: 2em;
}
