<app-header *ngIf="!noHeader" [title]="title" [subtitle]="subtitle"></app-header>
<div class="container">
  <div class="search-container whiteframe">
    <form (ngSubmit)="onSearch()" class="form-inline">
        <input [(ngModel)]="searchInput" name="searchInput" class="form-control feed-search-text" type="search" placeholder="Search plugins" aria-label="Search">
        <button class="feed-search-button" type="submit">
          <img src="assets/images/search.png" alt="Search">
         </button>
    </form>
    <button class="feed-search-button reset-search" (click)="onPluginResetSearch()">X</button>
  </div>
</div>
<p [routerLink]="['add']" class="simple-link">Add new plugin</p>
<div class="custom-pagination-elements">
  <span><label for="itemsPerPage">{{ITEMS_PER_PAGE_LABEL}}</label></span>
  <span><select id="itemsPerPage" [(ngModel)]="itemsPerPage" class="whiteframe" required>
    <option *ngFor="let item of paginationOptions" [value]="item">{{item}}</option>
  </select></span>
</div>
<pagination-controls nextLabel="" previousLabel="" class="custom-pagination" (pageChange)="p = $event"></pagination-controls>
<div class="plugin-container">
    <ngx-masonry>
      <ngxMasonryItem class="masonry-item" *ngFor="let plugin of allPlugins | paginate: { itemsPerPage: itemsPerPage, currentPage: p }">
        <app-plugin-tile [enableSelect]="enableSelect" [plugin]="plugin" (filterByTag)="onFilterByTagEvent($event)" (filterByAuthor)="onFilterByAuthorEvent($event)" (selected)="onPluginSelected($event)"></app-plugin-tile>
      </ngxMasonryItem>
    </ngx-masonry>
</div>
