form {
  justify-content: center;
  width: 100%;
}

select:focus, input:focus {
  outline-style:none !important;
  box-shadow:none !important;
  border-color:transparent !important;
}

.masonry-item {
  width: 200px;
}

.custom-pagination-elements > span {
  font-size: 0.7em;
  margin-left: 1em;
}

.custom-pagination /deep/ .ngx-pagination .current {
  background: #883996;
}

.simple-link {
  color: #883996;
  width: auto;
}
.simple-link:hover {
  cursor: pointer;
  color: Black;
}

.reset-search {
  background-color: #cccccc;
  color: #883996;
  font-weight: bold;
}

.reset-search:hover {
  background-color:#883996 ;
  color: white;
}
