/* Main breakpoints: 480px, 768px, 992px, 1200px */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    position: relative;
    height: 100%;
    font-family: 'Raleway', sans-serif;
}

body {
    position: relative;
    height: 100%;
    color: #444;
    background-color: #f6f6f6;
}

.fill {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 100%;
    margin: 0;
}

.page {
    padding-top: 90px;
    padding-bottom: 15px;
}

/* CONTAINER */

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}

@media (min-width: 768px) {
    .container {
        width: 700px;
    }
}

@media (min-width: 992px) {
    .container {
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        width: 800px;
        max-width: 800px;
    }
}

/* LOADING OVERLAY */
.loading-overlay-backdrop {
    position: fixed;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: transparent;
}
    .loading-overlay-backdrop img {
        width: 60px;
        height: 60px;
    }

/* TOOLBAR */

.toolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #ffffff;
    z-index: 1;
    transition: height 0.2s;
}

.toolbar-content {
    position: relative;
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    align-items: center;
    height: 100%;
    margin: 0 15px;
}

.toolbar-brand-container {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    padding: 10px 0;
}

.toolbar-brand {
    display: inherit;
}

    .toolbar-brand img {
        height: 35px;
        transition: all 0.2s;
    }

.toolbar-option-container {
    display: none;
    flex: 1 1 auto;
    flex-direction: row;
    height: 100%;
    justify-content: flex-end;
}

@media(min-width: 768px) {
    .toolbar-option-container {
        display: flex;
    }
}

.toolbar-option {
    display: flex;
    flex: 1 1 auto;
    max-width: 120px;
    min-width: 60px;
    justify-content: center;
    align-items: center;
    padding: 5px;
    text-transform: uppercase;
    cursor: pointer;
    font-size: .9em;
}

.toolbar-option:hover {
    background-color: #f6f6f6;
}

    a.toolbar-option {
        color: #444;
        text-decoration: none;
    }

    a.toolbar-option.active {
        color: #883996;
    }

    .toolbar-option > img {
        width: 1em;
        height: 1em;
    }

.mobile-menu-button {
    display: block;
}

@media(min-width: 768px) {
    .mobile-menu-button {
        display: none;
    }
}

    .mobile-menu-button .icon-bar {
        display: block;
        height: 3px;
        width: 19px;
        margin-top: 3px;
        background-color: #444444;
        border-radius: 1px;
    }

.mobile-menu {
    position: fixed;
    top: 60px;
    left: 0;
    right: 0;
    max-height: calc(100% - 60px);
    overflow-y: auto;
    display: none;
    background-color: #ffffff;
    z-index: 1;
}

    .mobile-menu .menu-container {
        display: block;
        position: relative;
        margin: 0;
        padding: 0;
    }

        .mobile-menu .menu-container > .menu-item {
            display: block;
            font-weight: bold;
            padding: 0 50px;
            min-height: 50px;
            line-height: 50px;
            background-color: #f6f6f6;
            border-top: 1px solid #dfe5e9;
            cursor: pointer;
        }

            .mobile-menu .menu-container > .menu-item a {
                text-decoration: none;
                color: #444444;
                width: 100%;
                margin: 0 -50px;
                padding: 0 50px;
            }

            .mobile-menu .menu-container > .menu-item > .menu-sub-item-container {
                display: none;
                margin: 0 -50px;
            }

                .mobile-menu .menu-container > .menu-item > .menu-sub-item-container .menu-item {
                    font-weight: normal;
                    background-color: #ffffff;
                }

/* PAGE TITLE */

.page-title {
    text-align: center;
    margin: 0 0 30px 0;
}

.page-title h1 {
    text-transform: uppercase;
    margin: 0;
    color: #883996;
}

.page-title p {
    margin: 0;
    font-size: 1.25rem;
    font-style: italic;
}

.page-title .shortline {
    width: 100px;
    height: 5px;
    margin: 30px auto 0 auto;
    border-bottom: 1px solid #883996;
}

/* SEARCH */

.search-container {
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    margin: 20px 0 40px 0;
}

.search-container input {
    display: flex;
    flex: 1 1 auto;
    border: none;
    padding: 5px;
}

.search-container button {
    width: 40px;
    height: 40px;
    padding: 10px;
    color: #ffffff;
    background-color: #883996;
    border: none;
    cursor: pointer;
}

.search-container button img {
    height: 20px;
}

/* FEED */

.feed-page {
    display: flex;
    flex-direction: row;
}

.pedalboard {
    width: 100%;
    background-color: #ffffff;
    padding: 25px;
    margin: 25px auto;
}

.pedalboard h3 {
    color: #883996;
}

.pedalboard .header {
    display: block;
}

.pedalboard .author {
    display: block;
}

.pedalboard .author .avatar {
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.pedalboard .author .avatar img {
    width: 50px;
    height: 50px;
    margin-top: -5px;
    margin-left: -5px;
}

.pedalboard .author-info {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}

    .pedalboard .author-info a {
        font-size: 0.9em;
        color: #444444;
    }

.pedalboard .author-info span {
    display: block;
}

.pedalboard .author-name {
    font-weight: bold;
}

.pedalboard .title {
    text-decoration: none;
    color: #883996;
}

.pedalboard .title small {
    font-size: 60%;
    color: #444;
}

.pedalboard .pedalboard-content {
    width: 100%;
    min-height: 265px;
}

.pedalboard .pedalboard-media-container {
    display: block;
    margin: auto -25px;
    background-size: cover;
}

label.beta:before {
	content: "BETA";
}
label.beta {
	background-color: #FF2927;
	font-family: "cooper hewitt", sans-serif;
	font-weight: 700;
	padding: 5px 10px;
	color: white;
	position: absolute;
	top: 0;
	left: 0;
	font-size: 16px;
}
.plugin-image-container, .plugin-media-container, .pedalboard-media-container { position: relative; }
.pedalboard-plugin label.beta {
	font-size: 10px;
}

.pedalboard .pedalboard-button-container {
    display: block;
    text-align: end;
}

.pedalboard .pedalboard-media {
    display: block;
    width: 100%;
}

.pedalboard .pedalboard-description {
    white-space: pre-wrap;
    line-height: 1.5em;
}

.pedalboard-action-container {
    display: block;
    text-align: center;
}

.pedalboard-action-container.plugin-next-page-container {
    height: 100px;
    line-height: 100px;
}

.pedalboard-details .pedalboard-action-container {
    margin: 15px;
}

.pedalboard-action {
    display: inline;
}

.pedalboard-action a {
    display: inline-block;
    width: 90px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background-color: #883996;
    margin-left: 5px;
}

@media(min-width: 480px) {
    .pedalboard-action a {
        width: 120px;
    }
}

.pedalboard-details .pedalboard-action a {
    width: 200px;
    margin: 0;
}

.pedalboard-action.pedalboard-action-large a {
    width: 400px;
    max-width: 90%;
    margin: 20px auto;
}

.pedalboard-loading {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
}

    .pedalboard-loading img {
        width: 40px;
        height: 40px;
        margin-bottom: 5px;
    }

.pedalboard-error {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

    .pedalboard-error span {
        margin: 15px auto;
    }

    .pedalboard-error a {
        display: inline-block;
        width: 120px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        text-decoration: none;
        color: #ffffff;
        background-color: #883996;
    }

.pedalboard-plugin-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.pedalboard-plugin {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 260px;
    max-width: 300px;
    margin: 5px;
    padding: 5px;
}

@media (min-width: 768px) {
    .pedalboard-plugin {
        width: 30%;
    }
}

    .pedalboard-plugin > .label {
        text-decoration: none;
        color: #444444;
    }

    .pedalboard-plugin > .brand {
        color: #883996;
        font-size: 0.8em;
    }

.plugin-image-container {
    font-size: 0;
    text-align: center;
    height: 150px;
    margin-bottom: 10px;
}

.plugin-image-container:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.plugin-image-container img {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    max-height: 100%;
}

.current-filter-container {
    display: block;
    text-align: center;
}

    .current-filter-container > .current-filter {
        display: inline-block;
    }

        .current-filter-container > .current-filter > span {
            font-weight: bold;
            display: block;
        }

        .current-filter-container >.current-filter > .clear-filter {
            font-size: 0.8em;
            text-decoration: none;
            color: #883996;
        }

.pedalboard-link {
    text-decoration: none;
    color: #883996;
}

/* BETA */

#show-unstable {
	padding: 5px;
	margin-top: 15px;
	border-top: 1px solid #dcdcdc;
}
.category-list li {
	padding: 2px 0 0 5px;
}
.category-list li.active {
	background-color: #883996;
}
.category-list li.active a {
	color: white;
	font-weight: bold;
}
.category-list li a {
	cursor: pointer;
}
.label-container {
	width: calc(90% - 40px);
	display: block;
	float: left;
}
input[type=checkbox] {
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.4); /* IE */
  -moz-transform: scale(1.4); /* FF */
  -webkit-transform: scale(1.4); /* Safari and Chrome */
  -o-transform: scale(1.4); /* Opera */
  padding: 10px;
  margin: 7px 10px 0 0;
  float: left
}

label {
	display: inline;
	font-size: 110%;
}

/* PLUGINS */

.plugin-container {
    margin: 0 auto;
}

.grid-sizer {
    width: 200px;
}

.plugin {
    position: relative;
    width: 200px;
    background: #ffffff;
    margin-bottom: 5px;
    text-align: center;
    box-sizing: border-box;
    padding: 10px;
}

    .plugin img {
        max-width: 100%;
        max-height: 100%;
    }

.plugin.wide {
    width: 200px;
}

@media (min-width: 768px) {
    .plugin.wide {
        width: 405px;
    }
}

.category-container {
    display: block;
    text-align: center;
}

    .category-container .plugin-category {
        padding: 5px;
        background-color: #883996;
        color: #ffffff;
        text-decoration: none;
        font-size: .8em;
        display: inline-block;
        margin: 5px;
        border-radius: 5px;
    }

.plugin-media-container {
    display: block;
    margin: auto -15px;
    background-size: cover;
    text-align: center;
}

.plugin-media-container div {
	max-width: 100%;
	max-height: 400px;
	margin: auto;
	position: relative;
}

.plugin-media {
    display: inline-block;
    max-width: 100%;
    max-height: 400px;
}

.plugin-details {
    padding: 15px;
}

@media(min-width: 768px) {
    .plugin-details {
        padding: 15px;
    }
}

    .plugin-details a {
        text-decoration: none;
    }

    .plugin-details .author {
        display: inline-block;
        vertical-align: middle;
    }

    .plugin-details.has-pedalboard .author {
        margin-right: 5px;
        width: calc(100% - 75px);
    }

    .plugin-details .author .author-info {
        margin: 0;
    }

    .plugin-details .pedalboard-count-container {
        display: none;
        vertical-align: middle;
        width: 65px;
        line-height: 10px;
        text-align: center;
    }

    .plugin-details.has-pedalboard .pedalboard-count-container {
        display: inline-block;
    }

        .plugin-details .pedalboard-count-container .pedalboard-count {
            display: inline-block;
            height: 40px;
            width: 40px;
            text-align: center;
            line-height: 40px;
            margin: 3px;
            background-color: #883996;
            text-decoration: none;
            color: #ffffff;
            font-weight: bold;
            font-size: 1.5em;
        }

        .plugin-details .pedalboard-count-container .pedalboard-count-text {
            font-size: 0.7em;
        }

.plugin-misc-info-container {
    text-align: center;
}

.plugin-uri {
    font-size: 0.8em;
    display: block;
    word-wrap: break-word;
}

.plugin-version {
    font-size: 0.8em;
    display: block;
}

@media (min-width: 768px) {
    .plugin-uri {
        float: left;
    }

    .plugin-version {
        float: right;
    }
}

.plugin-control-ports {
    display: none;
    width: 100%;
    overflow: auto;
    margin: 15px auto;
}

@media (min-width: 768px) {
    .plugin-control-ports {
        display: block;
    }
}

    .plugin-control-ports > table {
        width: 100%;
        border-spacing: 0;
        border-collapse: collapse;
    }

    .plugin-control-ports > table > thead > tr > th {
        padding: 8px;
        border-bottom: 2px solid #ddd;
        vertical-align: middle;
        text-align: left;
    }

    .plugin-control-ports > table > tbody > tr > td {
        padding: 8px;
        border-top: 2px solid #ddd;
        vertical-align: middle;
        text-align: left;
    }

/* PAGINATION */

.pagination-container {
    display: block;
    overflow: auto;
    margin-bottom: 15px;
}

    .pagination-container > .next-page {
        float: right;
    }

    .pagination-container > .previous-page {
        float: left;
    }

/* SIDE NAV */

.side-nav {
    display: none;
}

@media (min-width: 992px) {
    .side-nav {
        display: flex;
        flex: 2 0 10%;
        flex-direction: column;
        padding: 25px;
        align-items: flex-start;
    }
}

.side-nav h4 {
    margin: 0;
    text-transform: uppercase;
    color: #883996;
}

.side-nav ul {
    list-style-type: none;
    padding: 0;
}

.side-nav a {
    text-decoration: none;
    font-size: 0.9em;
    line-height: 1.5em;
    color: #444444;
}

.side-nav a:visited {
    text-decoration: none;
}

/* SHARE */

.share-container {
    display: inline-block;
    text-align: right;
    float: right;
}

.share-container > * {
    display: inline-block;
}

/* DISCOURSE */

#discourse-comments {
    margin-top: 15px;
}



/* MISC */

.whiteframe {
    -moz-box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1);
}

.divider {
    display: block;
    height: 1px;
    width: 80%;
    margin: 10px auto;
    border-bottom: 1px solid #cccccc;
}

.divider.comments-divider {
    margin: 20px auto;
}

.pull-left {
    float: left !important;
}

.pull-right {
    float: right !important;
}

.clearfix {
    clear: both;
}
