form {
  justify-content: center;
  width: 100%;
}

.feed-pedalboards {
  margin: auto;
  width: 50%;
}

select:focus, input:focus {
  outline-style:none !important;
  box-shadow:none !important;
  border-color:transparent !important;
}

div {
  text-align: left;
}

img.pedalboard-media {
  background-color: black;
}

.simple-link {
  color: #883996;
  width: auto;
}
.simple-link:hover {
  cursor: pointer;
  color: Black;
}

a.button {
  background-color: #883996;
  color: white;
}

a.button:hover {
  cursor: pointer;
  color: white;
}

.reset-search {
  background-color: #cccccc;
  color: #883996;
  font-weight: bold;
}

.reset-search:hover {
  background-color:#883996 ;
  color: white;
}

