<app-header [title]="title" [subtitle]="subtitle"></app-header>
<div class="container">
  <div class="search-container whiteframe">
    <form (ngSubmit)="onSearch()" class="form-inline">
      <input [(ngModel)]="searchInput" name="searchInput" class="form-control feed-search-text" type="search" placeholder="Search plugins" aria-label="Search">
      <button class="feed-search-button" type="submit">
        <img src="assets/images/search.png" alt="Search">
      </button>
    </form>
    <button class="feed-search-button reset-search" (click)="onResetSearch()">X</button>
  </div>
</div>
<p [routerLink]="['add']" class="simple-link">Add new pedalboard</p>
<div class="feed-pedalboards">
  <div *ngFor="let pedalboard of allPedalboards" class="pedalboard whiteframe">
    <div class="pedalboard-content">
      <div class="header">
        <div class="author">
          <div class="author-info">
            <span class="author-name">{{pedalboard.author}}</span>
            <span>{{pedalboard.date}}</span>
          </div>
        </div>
        <div class="title">
          <h2>{{pedalboard.name}}</h2>
        </div>
      </div>
      <div class="pedalboard-media-container">
        <label class="beta" style="display: none;"></label>
        <img class="pedalboard-media" src="https://api.moddevices.com/v2/pedalboards/5c08c2fc2564d433e8ba26f0/screenshot" alt="Pedalboard screenshot">
      </div>
      <p class="pedalboard-description">{{pedalboard.description}}</p>
      <div class="pedalboard-button-container">
        <div class="pedalboard-action">
          <a class="form-group col-md-3 button">Try now</a>
        </div>
        <div class="pedalboard-action">
          <a class="form-group col-md-3 button" (click)="onViewMore(pedalboard.id)">View more</a>
        </div>
      </div>
    </div>
  </div>
</div>
