<app-header [title]="title" [subtitle]="subtitle"></app-header>
<div class="container">
  <div class="pedalboard pedalboard-details pedalboard-details whiteframe has-pedalboard">
    <div class="pedalboard-content">
      <div class="header">
        <div class="author">
          <div class="author-info">
            <span class="author-name">{{author.username}}</span>
            <a href="{{author.url}}" target="_blank">{{author.url}}</a>
            <span class="publish-date">{{pedalboard.date}}</span>
          </div>
        </div>
        <div class="title">
          <h2>{{pedalboard.name}}</h2>
        </div>
      </div>
      <div class="pedalboard-media-container">
        <div style="width: 243px;">
          <img src="assets/images/pedalboardss/{{pedalboard.screenshot}}" alt="[pedalboards-screenshot]" class="pedalboards-media">
        </div>
      </div>
      <p class="pedalboard-description">{{pedalboard.description}}</p>
      <div class="pedalboards-plugin-content">
        <h3>Plugins</h3>
        <div class="pedalboard-plugin-container">
          <ul class="plugin-tile">
            <li *ngFor="let plugin of plugins, let i = index">
              <div class="clearfix" *ngIf="i % 3 == 0"></div>
              <app-plugin-tile [plugin]="plugin"></app-plugin-tile>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
