img{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-repeat: no-repeat;
}

div{
    position: relative;
    z-index: 2;
    color: white;
    font-family: "Poppins", sans-serif;
    text-align: left;
    padding: 2em;
    max-width: 70em;
}
h1{
    font-size: 3em;
}
h2{
    font-size: 2em;
}