<!--The content below is only a placeholder and can be replaced.-->
<img  alt="home background" src="../assets/home-billboard.jpg">
<div>
  <h1>For all purposes, an entire sonic universe inside</h1>
  <h2>Get access to more than five hundred audio and MIDI plugins in a collection that will never stop growing</h2>
</div>
